@keyframes navbar-hover {
  from {
    background: rgb(44, 47, 51);
  }
  to {
    background: rgb(153, 170, 181);
  }
}
@keyframes navbar {
  from {
    background: rgb(153, 170, 181);
  }
  to {
    background: rgb(44, 47, 51);
  }
}
@keyframes foot-hover {
  from {
    background: rgb(35, 39, 42);
  }
  to {
    background: rgb(44, 47, 51);
  }
}
