body {
  background: rgb(35, 39, 42);
  color: rgb(255, 255, 255);
  font-family: arial;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
}
audio {
	width: 100%;
}

.main::-webkit-scrollbar {
	display: none;
}
.main {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.main {
	position: absolute;
	width: 100%;
	top: 50px;
	bottom: 50px;

	overflow: auto;
}
.post {
	margin-bottom: 25px;
	margin-left: 10%;
	margin-right: 10%;
}
.date {
	margin-bottom: 25px;
	border-radius: 25px;
	padding: 25px;

	font-size: 45px;
	font-weight: bolder;
	line-height: 45px;
	text-align: center;
	vertical-align: middle;

	background-color: rgb(114, 137, 218);
}
.content {
	border-radius: 25px;
	padding: 25px;

	background-color: rgb(44, 47, 51);
}
.content-text {
	margin-bottom: 15px;
	padding-left: 25px;
	padding-right: 25px;
	text-align: justify;
}