:root {
    --deboamountpercentage: 50%;
}
body {
    background-color: #1e2124;
}

#debo-container {
    position: relative;

    width: 88px;
    height: 88px;

    border-style: solid;
    border-width: 2px;
    border-color: #efb83f;
}

#debo-background {
    z-index: -2;
    position: absolute;

    width: 100%;
    height: 100%;

    filter: grayscale(1) blur(1px);
}

#debo-trim {
    position: absolute;

    overflow: hidden;
    width: var(--deboamountpercentage);
    height: 100%;
}

#debo-progress {
    z-index: -1;
    width: 88px;

    filter: contrast(150%);
}
#debo-number {
    position: absolute;

    width: 100%;
    height: 100%;

    color: white;

    line-height: 88px;
    text-align: center;
    text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
    font-size: 44px;
    font-family: Arial;
}